*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
body
{
	background: #f2f2f2;

}
.wrap
{
	width: 90%;
	max-width: 500px;
	margin: auto;
}
form
{
	width: 100%;
	margin: 20px 0;
	padding: 20px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 3px grey;
	border-top: 4px solid #536DFE;
}